    body {
        background-color: darkgrey;
    }

    .header {
        color: lightblue;
        background: black;
    }

    #headerfont {
        font-style: italic;
    }

    img {
        width: 400px;
        height: auto;
        border-radius: 40px;
        border: 5px groove black;
    }

    p, h3 {
        color: darkblue;
    }

    #paragraph {
        font-family: "Times New Roman";
        font-size: medium;
    }

    #figc {
        color: #575321;
    }

    h3 {
        color: #932054;
    }

    .features {
        color: #28461e;
    }

    #longer {
        color: #4414d9;
    }

    a {
        color: #181b4d;
    }

    .articles {
        color: green;
    }

    table, th, td {
      border: 1px solid #26420d;
    }

    .navigation {
        list-style: none;
        margin: 0px;
        padding: 0px;
        background: #4c6ca0;
        border-radius: 05px;
    }

    .navigation li {
        float: left;
    }

    .navigation li a {
        text-decoration: none;
        color: white;
        padding: 15px 20px;
    }

    .navigation li a:hover {
        background-color: #446190;
        color: #f4f4f4;
    }